.special-color,
.special-color:hover {
    background-color: #289BDE;
    color: white;
}

.special-color-text {
    color: #289BDE;
}

.special-color-2,
.special-color-2:hover {
    background-color: white;
    color: #289BDE;
    margin-top: 2rem;
    height: 45px;

}